@using NodaTime
@using Traces.Web.Models
@using Traces.Web.ViewModels
@inject TracesViewModel TracesViewModel

<div class="dialog-title">
    <h2>Update new trace</h2>
</div>
<input type="text" placeholder="Title" @bind="@CurrentTrace.Title"/>
<input type="text" placeholder="Description" @bind="@CurrentTrace.Description"/>
<input type="date" value="@CurrentTrace.DueDateString"/>

<div class="dialog-buttons">
    <button class="btn btn-secondary" @onclick="@OnClose">Close</button>
    <button class="btn btn-primary" @onclick="@OnReplaceTraceButton">Update</button>
</div>

@code
{


    [Parameter] public EventCallback OnClose { get; set; }

    public ReplaceTraceItemModel CurrentTrace { get; set; }

    public LocalDate MinDate { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        if (TracesViewModel.ConfiguringTrace == null)
        {
            OnClose.InvokeAsync(null);
        }
        else
        {
            var configuringTrace = TracesViewModel.ConfiguringTrace;

            CurrentTrace = new ReplaceTraceItemModel
            {
                Title = configuringTrace.Title,
                Description = configuringTrace.Description,
                DueDate = configuringTrace.DueDate,
                Id = configuringTrace.Id
            };
        }
    }

    async Task OnReplaceTraceButton()
    {
        if (TracesViewModel.ReplaceTraceItem(CurrentTrace))
        {
            await OnClose.InvokeAsync(null);
        }
    }

    public ReplaceTraceDialog()
    {
        MinDate = SystemClock.Instance.GetCurrentInstant().InUtc().Date;
    }

}
