@using Humanizer
@using Traces.Common.Constants
@using Traces.Common.Enums
@using Traces.Web.Models

<h4 class="mt-2 ml-2">@Title</h4>

@if (Traces != null && Traces.Any())
{
    <TableBody>
        @foreach (var trace in Traces)
        {
            <TableRow class="@(trace.State == TraceState.Completed ? "text-muted" : "")">
                <TableRowCell>@trace.Title</TableRowCell>
                <TableRowCell>@trace.Description</TableRowCell>
                @if (IsDueDateVisible)
                {
                    <TableRowCell>@trace.DueDate.ToShortDateString()</TableRowCell>
                }
                @if (IsPropertyVisible)
                {
                    <TableRowCell>@trace.PropertyId</TableRowCell>
                }
                @if (IsReservationVisible)
                {
                    <TableRowCell>
                        @if (string.IsNullOrWhiteSpace(trace.ReservationId))
                        {
                            <span>&mdash;</span>
                        }
                        else
                        {
                            <a href="javascript:void(0)" @onclick="@(() => OnNavigate(trace))">@trace.ReservationId</a>
                        }
                    </TableRowCell>
                }
                <TableRowCell>
                    @if (string.IsNullOrWhiteSpace(trace.AssignedRole))
                    {
                        <span>&mdash;</span>
                    }
                    else
                    {
                        @trace.AssignedRole.Humanize()
                    }
                </TableRowCell>
                <TableRowCell class="fit">

                    <div class="d-flex justify-content-end">
                        @if (trace.State == TraceState.Active)
                        {
                            <Button class="mr-2" Color="Color.Primary" IsLoading="@IsLoading" Clicked="@(() => OnComplete(trace))">
                                <i class="fa fa-check"></i>
                                @TextConstants.TracesCompleteButtonText
                            </Button>
                            <Button class="mr-2" Color="Color.Secondary" IsOutline="true" IsLoading="@IsLoading" Clicked="@(() => OnEdit(trace))">
                                <i class="fa fa-edit"></i>
                                @TextConstants.TracesEditButtonText
                            </Button>
                            <Dropdown IsRightAligned="true">
                                <DropdownToggle>
                                </DropdownToggle>
                                <DropdownMenu IsRightAligned="true">
                                    <DropdownItem class="text-danger" Clicked="@(() => OnDelete(trace))">
                                        @TextConstants.TracesDeleteButtonText
                                    </DropdownItem>
                                </DropdownMenu>
                            </Dropdown>
                        }
                        else
                        {
                            <Button class="mr-2" Color="Color.Secondary" IsOutline="true" IsLoading="@IsLoading" Clicked="@(() => OnRevertComplete(trace))">
                                <i class="fa fa-history"></i>
                                @TextConstants.TracesRevertCompleteButtonText
                            </Button>
                        }
                    </div>
                </TableRowCell>
            </TableRow>
        }
    </TableBody>
}

@code
{
    private bool IsLoading { get; set; }

    [Parameter]
    public EventCallback<TraceItemModel> OnEditClick { get; set; }

    [Parameter]
    public EventCallback<TraceItemModel> OnDeleteClick { get; set; }

    [Parameter]
    public EventCallback<TraceItemModel> OnCompleteClick { get; set; }

    [Parameter]
    public EventCallback<TraceItemModel> OnNavigateClick { get; set; }

    [Parameter]
    public EventCallback<TraceItemModel> OnRevertCompleteClick { get; set; }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public List<TraceItemModel> Traces { get; set; }

    [Parameter]
    public bool IsPropertyVisible { get; set; }

    [Parameter]
    public bool IsDueDateVisible { get; set; }

    [Parameter]
    public bool IsReservationVisible { get; set; }

    private async Task OnComplete(TraceItemModel trace)
    {
        IsLoading = true;

        await OnCompleteClick.InvokeAsync(trace);

        IsLoading = false;
    }

    private async Task OnEdit(TraceItemModel trace)
    {
        await OnEditClick.InvokeAsync(trace);
    }

    private async Task OnDelete(TraceItemModel trace)
    {
        IsLoading = true;

        await OnDeleteClick.InvokeAsync(trace);

        IsLoading = false;
    }

    private async Task OnRevertComplete(TraceItemModel trace)
    {
        IsLoading = true;

        await OnRevertCompleteClick.InvokeAsync(trace);

        IsLoading = false;
    }

    private async Task OnNavigate(TraceItemModel trace)
    {
        await OnNavigateClick.InvokeAsync(trace);
    }
}