@page "/"
@using Traces.Web.ViewModels
@inherits IndexViewModel

<div>
    <Card>
        <CardBody>
            <CardTitle Size="2">@Title</CardTitle>
            <CardText>@Message</CardText>
            @if (IsSuccess)
            {
                <!--This is not a Blazorise Button because we need to navigate outside of the application and Blazor intersects all navigations, but anchors with target="_blank"-->
                <a href="@ApaleoRedirectUrl" target="_self" class="btn btn-success btn-block" role="button" aria-pressed="true">@ButtonText</a>
            }
            else
            {
                <Button IsBlock="true" Color="Color.Primary" IsDisabled="@IsLoading" IsLoading="@IsLoading" Clicked="@(() => TriggerSetupAsync())">@ButtonText</Button>
            }
        </CardBody>
    </Card>
</div>
