@page "/"
@using System.Globalization
@using Traces.Web.ViewModels
@inject TracesViewModel TracesViewModel

<div>
    <h1>Traces</h1>

    <button class="btn btn-primary" @onclick="@TracesViewModel.ShowCreateTraceModal">Add</button>

    <div>
        @if (TracesViewModel.Traces != null && TracesViewModel.Traces.Any())
        {
            <h2>Pending traces</h2>
            <Table>
                <TableHeader>
                        <TableRow>
                            <TableHeaderCell>Title</TableHeaderCell>
                            <TableHeaderCell>Description</TableHeaderCell>
                            <TableHeaderCell>Due date</TableHeaderCell>
                            <TableHeaderCell>Actions</TableHeaderCell>
                        </TableRow>
                </TableHeader>
                <TableBody>
                    @foreach (var trace in TracesViewModel.Traces)
                    {
                        <TableRow>
                            <TableRowCell>@trace.Title</TableRowCell>
                            <TableRowCell>@trace.Description</TableRowCell>
                            <TableRowCell>@trace.DueDate.ToString("dd/MM/yyyy", CultureInfo.InstalledUICulture)</TableRowCell>
                            <TableRowCell>
                                <Buttons>
                                    <Button Color="Color.Primary" Clicked="@(() => TracesViewModel.CompleteTraceAsync(trace.Id))">Complete</Button>
                                    <Button Color="Color.Secondary" Clicked="@(() => TracesViewModel.ShowReplaceTraceModal(trace))">Edit</Button>
                                    <Button Color="Color.Danger" Clicked="@(() => TracesViewModel.DeleteItemAsync(trace.Id))">Delete</Button>
                                </Buttons>
                            </TableRowCell>
                        </TableRow>
                    }
                </TableBody>
            </Table>
        }
    </div>

    <Modal @ref="@TracesViewModel.CreateTraceModalRef">
        <ModalBackdrop />
        <ModalContent IsCentered="true" Size="ModalSize.Large">
            <ModalHeader>
                <ModalTitle>@TracesViewModel.EditTraceModificationModel.ModalTitle</ModalTitle>
                <CloseButton Clicked="@TracesViewModel.HideCreateTraceModal"/>
            </ModalHeader>
            <ModalBody>
                <EditTraceDialog OnClose="@TracesViewModel.HideCreateTraceModal"/>
            </ModalBody>
        </ModalContent>
    </Modal>
</div>

@code
{

    protected override async Task OnInitializedAsync()
    {
        await TracesViewModel.LoadAsync();
        await base.OnInitializedAsync();
    }

}
