@page "/"
@using Traces.Web.ViewModels
@inject IndexViewModel IndexViewModel

<div>
    <Card>
        <CardBody>
            <CardTitle Size="2">@IndexViewModel.Title</CardTitle>
            <CardText>@IndexViewModel.Message</CardText>
            @if (IndexViewModel.IsSuccess)
            {
                <!--This is not a Blazorise Button because we need to navigate outside of the application and Blazor intersects all navigations, but anchors with target="_blank"-->
                <a href="https://app.apaleo.com" target="_self" class="btn btn-success btn-block" role="button" aria-pressed="true">@IndexViewModel.ButtonText</a>
            }
            else
            {
                <Button IsBlock="true" Color="Color.Primary" IsDisabled="@IndexViewModel.IsLoading" IsLoading="@IndexViewModel.IsLoading" Clicked="@(() => IndexViewModel.TriggerSetupAsync())">@IndexViewModel.ButtonText</Button>
            }
        </CardBody>
    </Card>
</div>

@code
{
    protected override async Task OnInitializedAsync()
    {
        await IndexViewModel.TriggerSetupAsync();
        await base.OnInitializedAsync();
    }
}

