@page "/"
@using System.Globalization
@using Traces.Web.ViewModels
@inject TracesViewModel TracesViewModel

<div>
    <h1>Traces</h1>

    <button class="btn btn-primary" @onclick="@TracesViewModel.AddItem">Add</button>

    <div>
        @if (TracesViewModel.Traces != null && TracesViewModel.Traces.Any())
        {
            <h2>Pending traces</h2>
            <table>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Due date</th>
                    <th>Due time</th>
                </tr>
                @foreach (var trace in TracesViewModel.Traces)
                {
                    <tr>
                        <td>@trace.Title</td>
                        <td>@trace.Description</td>
                        <td>@trace.DueDate.ToString("dd/MM/yyyy", CultureInfo.InstalledUICulture)</td>
                        <td>@(trace.DueTime == null ? string.Empty : trace.DueTime.Value.ToString("HH:mm", CultureInfo.CurrentUICulture))</td>
                        <td>
                            <button class="btn btn-primary" @onclick="@(() => TracesViewModel.CompleteTrace(trace.Id))">complete</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary" @onclick="@(() => TracesViewModel.ShowReplaceTraceDialog(trace))">edit</button>
                        </td>
                        <td>
                            <button class="btn btn-danger" @onclick="@(() => TracesViewModel.DeleteItem(trace.Id))">delete</button>
                        </td>
                    </tr>
                }
            </table>
        }
    </div>

    <DialogContainer ShowDialog="@TracesViewModel.ShowCreateTraceDialog">
        <CreateTraceDialog OnClose="@TracesViewModel.CloseCreateDialog"/>
    </DialogContainer>

    <DialogContainer ShowDialog="@TracesViewModel.ShowingUpdateTraceDialog">
        <ReplaceTraceDialog OnClose="@TracesViewModel.HideUpdateTraceDialog"/>
    </DialogContainer>
</div>
