@page "/traces/account"
@using Traces.Common.Constants
@using Traces.Web.ViewModels
@inject TracesAccountViewModel TracesAccountViewModel

<div>
    <h1>Traces</h1>

    <div>
        <h2>@TextConstants.UpcomingTracesText</h2>
        @if (TracesAccountViewModel.Traces != null && TracesAccountViewModel.Traces.Any())
        {
            <Table>
                <TableHeader>
                        <TableRow>
                            <TableHeaderCell>@TextConstants.TracesTableTitleText</TableHeaderCell>
                            <TableHeaderCell>@TextConstants.TracesTableDescriptionText</TableHeaderCell>
                            <TableHeaderCell>@TextConstants.TracesTableDueDateText</TableHeaderCell>
                            <TableHeaderCell>@TextConstants.TracesTableActionsText</TableHeaderCell>
                        </TableRow>
                </TableHeader>
                <TableBody>
                    @foreach (var trace in TracesAccountViewModel.Traces)
                    {
                        <TableRow>
                            <TableRowCell>@trace.Title</TableRowCell>
                            <TableRowCell>@trace.Description</TableRowCell>
                            <TableRowCell>@trace.DueDate.ToShortDateString()</TableRowCell>
                            <TableRowCell>
                                <Buttons>
                                    <Button Color="Color.Primary" Clicked="@(() => TracesAccountViewModel.CompleteTraceAsync(trace.Id))">Complete</Button>
                                    <Button Color="Color.Secondary" Clicked="@(() => TracesAccountViewModel.ShowReplaceTraceModal(trace))">Edit</Button>
                                    <Button Color="Color.Danger" Clicked="@(() => TracesAccountViewModel.DeleteItemAsync(trace.Id))">Delete</Button>
                                </Buttons>
                            </TableRowCell>
                        </TableRow>
                    }
                </TableBody>
            </Table>
        }
        else
        {
          <p>@TextConstants.UpcomingTracesEmptyText</p>
        }
    </div>

    <Modal @ref="@TracesAccountViewModel.EditTraceModalRef">
        <ModalBackdrop />
        <ModalContent IsCentered="true" Size="ModalSize.Large">
            <ModalHeader>
                <ModalTitle>@TextConstants.EditTraceModalTitle</ModalTitle>
                <CloseButton Clicked="@TracesAccountViewModel.HideEditTraceModal"/>
            </ModalHeader>
            <ModalBody>
                <EditTraceDialog EditTraceDialogVm="@TracesAccountViewModel.EditTraceDialogViewModel" OnClose="@TracesAccountViewModel.HideEditTraceModal" OnSubmit="@TracesAccountViewModel.EditTraceItemAsync" SubmitButtonText="@TextConstants.EditTraceButtonText"/>
            </ModalBody>
        </ModalContent>
    </Modal>
</div>

@code
{

    protected override async Task OnInitializedAsync()
    {
        await TracesAccountViewModel.LoadAsync();
        await base.OnInitializedAsync();
    }

}