@page "/traces/reservation"
@using Traces.Common.Constants
@using Traces.Web.ViewModels.Traces
@inject TracesReservationViewModel TracesReservationViewModel

<div>
    <div class="mb-3">
        @if (TracesReservationViewModel.HasCompletedTraces)
        {
            <div class="mb-3">
                <CheckEdit @bind-Checked="@TracesReservationViewModel.IsCompletedTracesVisible">
                    @TracesReservationViewModel.CompletedTracesCheckBoxText
                </CheckEdit>
            </div>
        }

        <Button Color="Color.Primary" Clicked="@TracesReservationViewModel.ShowCreateTraceModal">
            <i class="fa fa-plus"></i>
            @TextConstants.TracesAddButtonText</Button>
    </div>

    @if (TracesReservationViewModel.IsCompletedTracesVisible)
    {
        @if (TracesReservationViewModel.AllTracesDictionary?.Any() == true)
        {
            <Table>
                <TableHeader>
                    <TableRow>
                        <TableHeaderCell>@TextConstants.TracesTableTitleText</TableHeaderCell>
                        <TableHeaderCell>@TextConstants.TracesTableDescriptionText</TableHeaderCell>
                        <TableHeaderCell>@TextConstants.TracesTableAssignedRoleText</TableHeaderCell>
                        <TableHeaderCell></TableHeaderCell>
                    </TableRow>
                </TableHeader>
                @foreach (var (date, traces) in TracesReservationViewModel.AllTracesDictionary)
                {
                    <TracesComponent
                        Title="@date.ToShortDateString()"
                        Traces="@traces"
                        IsPropertyVisible="false"
                        IsReservationVisible="false"
                        IsDueDateVisible="false"
                        OnCompleteClick="@TracesReservationViewModel.CompleteTraceAsync"
                        OnDeleteClick="@TracesReservationViewModel.DeleteItemAsync"
                        OnEditClick="@TracesReservationViewModel.ShowReplaceTraceModal"
                        OnRevertCompleteClick="@TracesReservationViewModel.RevertCompleteItemAsync"/>
                }
            </Table>
        }
    }
    else
    {
        @if (TracesReservationViewModel.OverdueTraces?.Any() == true)
        {
            <section class="pb-4">
                <Table>
                    <TableHeader>
                        <TableRow>
                            <TableHeaderCell>@TextConstants.TracesTableTitleText</TableHeaderCell>
                            <TableHeaderCell>@TextConstants.TracesTableDescriptionText</TableHeaderCell>
                            <TableHeaderCell>@TextConstants.TracesTableDueDateText</TableHeaderCell>
                            <TableHeaderCell>@TextConstants.TracesTableAssignedRoleText</TableHeaderCell>
                            <TableHeaderCell></TableHeaderCell>
                        </TableRow>
                    </TableHeader>
                    <TracesComponent
                        Title="@TextConstants.OverdueTracesTitleText"
                        Traces="@TracesReservationViewModel.OverdueTraces"
                        IsPropertyVisible="false"
                        IsReservationVisible="false"
                        IsDueDateVisible="true"
                        OnCompleteClick="@TracesReservationViewModel.CompleteTraceAsync"
                        OnDeleteClick="@TracesReservationViewModel.DeleteItemAsync"
                        OnEditClick="@TracesReservationViewModel.ShowReplaceTraceModal"/>
                </Table>
            </section>
        }

        @if (TracesReservationViewModel.ActiveTracesDictionary?.Any() == true)
        {
            <Table>
                <TableHeader>
                    <TableRow>
                        <TableHeaderCell>@TextConstants.TracesTableTitleText</TableHeaderCell>
                        <TableHeaderCell>@TextConstants.TracesTableDescriptionText</TableHeaderCell>
                        <TableHeaderCell>@TextConstants.TracesTableAssignedRoleText</TableHeaderCell>
                        <TableHeaderCell></TableHeaderCell>
                    </TableRow>
                </TableHeader>
                @foreach (var (date, traces) in TracesReservationViewModel.ActiveTracesDictionary)
                {
                    <TracesComponent
                        Title="@date.ToShortDateString()"
                        Traces="@traces"
                        IsPropertyVisible="false"
                        IsReservationVisible="false"
                        IsDueDateVisible="false"
                        OnCompleteClick="@TracesReservationViewModel.CompleteTraceAsync"
                        OnDeleteClick="@TracesReservationViewModel.DeleteItemAsync"
                        OnEditClick="@TracesReservationViewModel.ShowReplaceTraceModal"/>
                }
            </Table>
        }
    }


    <Modal @ref="@TracesReservationViewModel.EditTraceModalRef">
        <ModalBackdrop/>
        <ModalContent IsCentered="true" Size="ModalSize.Large">
            <ModalHeader>
                <ModalTitle>@TextConstants.EditTraceModalTitle</ModalTitle>
                <CloseButton Clicked="@TracesReservationViewModel.HideEditTraceModal"/>
            </ModalHeader>
            <ModalBody>
                @if (TracesReservationViewModel.EditTraceModalRef.IsOpen)
                {
                    <EditTraceDialog EditTraceDialogVm="@TracesReservationViewModel.EditTraceDialogViewModel" OnClose="@TracesReservationViewModel.HideEditTraceModal" OnSubmit="@TracesReservationViewModel.EditTraceItemAsync" SubmitButtonText="@TextConstants.EditTraceButtonText"/>
                }
            </ModalBody>
        </ModalContent>
    </Modal>

    <Modal @ref="@TracesReservationViewModel.CreateTraceModalRef">
        <ModalBackdrop/>
        <ModalContent IsCentered="true" Size="ModalSize.Large">
            <ModalHeader>
                <ModalTitle>@TextConstants.CreateTraceModalTitle</ModalTitle>
                <CloseButton Clicked="@TracesReservationViewModel.HideCreateTraceModal"/>
            </ModalHeader>
            <ModalBody>
                @if (TracesReservationViewModel.CreateTraceModalRef.IsOpen)
                {
                    <EditTraceDialog EditTraceDialogVm="@TracesReservationViewModel.EditTraceDialogViewModel" OnClose="@TracesReservationViewModel.HideCreateTraceModal" OnSubmit="@TracesReservationViewModel.CreateTraceItemAsync" SubmitButtonText="@TextConstants.CreateTraceButtonText"/>
                }
            </ModalBody>
        </ModalContent>
    </Modal>
</div>

@code
{

    protected override async Task OnInitializedAsync()
    {
        await TracesReservationViewModel.InitializeAsync();
        await base.OnInitializedAsync();
    }

}