@using Traces.Web.Models;
@using System.Globalization
@using Traces.Web.ViewModels
@inject TracesViewModel TracesViewModel

<TableRow>
    <TableRowCell>
        <CheckEdit Checked="false" CheckedChanged="@(() => TracesViewModel.CompleteTraceAsync(Trace.Id))"></CheckEdit>
    </TableRowCell>
    <TableRowCell>@Trace.Title</TableRowCell>
    <TableRowCell>@Trace.Description</TableRowCell>
    <TableRowCell>@Trace.DueDate.ToString("dd/MM/yyyy", CultureInfo.InstalledUICulture)</TableRowCell>
    <TableRowCell class="fit">
        <div class="d-flex align-items-start">
            <Button class="mr-2" Clicked="@(() => TracesViewModel.ShowReplaceTraceModal(Trace))">
                <i class="fa fa-pen"></i>
            </Button>
            <Dropdown IsRightAligned="true">
                <DropdownToggle>
                </DropdownToggle>
                <DropdownMenu IsRightAligned="true">
                    <DropdownItem class="text-danger" Clicked="@(() => TracesViewModel.DeleteItemAsync(Trace.Id))">Delete</DropdownItem>
                </DropdownMenu>
            </Dropdown>
        </div>
    </TableRowCell>
</TableRow>

@code
{
    [Parameter]
    public TraceItemModel Trace { get; set; }

}