@using System.Collections.ObjectModel
@using System.Globalization
@using Traces.Common.Constants
@using Traces.Web.Models
@using Traces.Web.ViewModels
@inject TracesViewModel TracesViewModel

<h3>
    @Date.ToString("dddd", CultureInfo.InstalledUICulture)
    <span class="date-hint">@Date.ToShortDateString()</span>
</h3>

<section class="mb-1">
    <Button class="text-primary" Clicked="@(() => TracesViewModel.ShowCreateTraceModal(Date))"><i class="fa fa-plus mr-2"></i>@TextConstants.TracesAddButtonText</Button>
</section>

@if (Traces != null && Traces.Any())
{
    <section class="container-fluid daily-table">
        @foreach (var trace in Traces)
        {
            <div class="row pt-2 border-top">
                <div class="col-auto">
                    <CheckEdit Checked="false" CheckedChanged="@(() => TracesViewModel.CompleteTraceAsync(trace.Id))"></CheckEdit>
                </div>
                <b class="col-3 text-break">@trace.Title</b>
                <div class="col text-break">
                    @trace.Description
                </div>
                <div class="d-flex align-items-start">
                    <Button class="mr-2" Clicked="@(() => TracesViewModel.ShowReplaceTraceModal(trace))">
                        <i class="fa fa-pen"></i>
                    </Button>
                    <Dropdown IsRightAligned="true">
                        <DropdownToggle>
                        </DropdownToggle>
                        <DropdownMenu IsRightAligned="true">
                            <DropdownItem class="text-danger" Clicked="@(() => TracesViewModel.DeleteItemAsync(trace.Id))">@TextConstants.TracesDeleteButtonText</DropdownItem>
                        </DropdownMenu>
                    </Dropdown>
                </div>
            </div>
        }
    </section>
}

@code
{
    [Parameter]
    public DateTime Date { get; set; }

    [Parameter]
    public ReadOnlyCollection<TraceItemModel> Traces { get; set; }
}