@using Traces.Common.Constants
@using Traces.Web.Services.Apaleo
@inject IApaleoUserClaimValidatorService UserClaimValidatorService

<Blazorise.ThemeProvider Theme="@theme">
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
        </Found>
        <NotFound>
            <CascadingAuthenticationState>
                <LayoutView Layout="@typeof(MainLayout)">
                    <p>Sorry, there's nothing at this address.</p>
                </LayoutView>
            </CascadingAuthenticationState>
        </NotFound>
    </Router>
</Blazorise.ThemeProvider>

@code{
    private Theme theme = new Theme
    {
        ColorOptions = new ThemeColorOptions
        {
            Primary = StyleConstants.PrimaryColor
        }
    };

    protected override void OnInitialized()
    {
        UserClaimValidatorService.AssertClaim(ApaleoOneConstants.AccountCodeQueryParameter, ApaleoClaims.AccountCode);
        UserClaimValidatorService.AssertClaim(ApaleoOneConstants.SubjectIdQueryParameter, ApaleoClaims.SubjectId);
    }
}