@using Traces.Web.Models;
@using System.Globalization
@using Traces.Common.Enums
@using Traces.Web.ViewModels
@inject TracesViewModel TracesViewModel

<tr>
    <td>
        <CheckEdit Checked="false" CheckedChanged="@(() => TracesViewModel.CompleteTraceAsync(Trace.Id))"></CheckEdit>
    </td>
    <td>@Trace.Title</td>
    <td>@Trace.Description</td>
    <td>@Trace.DueDate.ToString("dd/MM/yyyy", CultureInfo.InstalledUICulture)</td>
    <td class="fit text-right">
        <Button class="btn btn-default pr-2" Clicked="@(() => TracesViewModel.ShowReplaceTraceModal(Trace))">
            <i class="fa fa-pen"></i>
        </Button>
        <div class="btn-group">
            <button class="btn btn-default" data-toggle="dropdown">
                <i class="fa fa-ellipsis-v"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <Button class="text-danger dropdown-item" Clicked="@(() => TracesViewModel.DeleteItemAsync(Trace.Id))">Delete</Button>
            </div>
        </div>
    </td>
</tr>

@code
{
    [Parameter]
    public TraceItemModel Trace { get; set; }

}